<ion-header>
<ion-navbar color="primary">
    <ion-title>
        Pick a Pal: Favorites
    </ion-title>
</ion-navbar>
</ion-header>


<!--<ion-content> -->
<!--  <ion-list *ngFor="let pet of data">-->
<!--    <ion-item>-->
<!--      <ion-thumbnail item-left>-->
<!--        <img [src]="pet.image" class="pet-image">-->
<!--      </ion-thumbnail>-->
<!--      <h2 class="slide-title" [innerHTML]="pet.name"></h2>-->
<!--    </ion-item>-->
<!--    </ion-list>-->
<!-- </ion-content>-->


<ion-content>
  
<ion-item-sliding *ngFor="let pet of data">
  <ion-item>
    <ion-avatar item-left>
      <img [src]="pet.image" class="pet-image">
    </ion-avatar>
    <h2 class="slide-title" [innerHTML]="pet.name"></h2>
    <!--<p [innerHTML]="pet.info"></p>-->
  </ion-item>
  
  

 <ion-item-options side="right">
      <button ion-button>Archive</button>
    </ion-item-options>
</ion-item-sliding>

  
</ion-content>

    <!-- <button ion-button color="light" icon-left>-->
    <!--  <ion-icon name="ios-more"></ion-icon>-->
    <!--  Archive-->
    <!--</button>-->
    <!--</ion-item-options>-->